<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/index" class="button">Strona Główna</a>
    <a href="/search" class="button">Wyszukaj Książki</a>
    <a href="/history" class="button" th:if="${isLogged}">Historia Wyporzyczeń</a>
    <a href="/addBook" class="button" th:if="${user != null and
                                                user.role != null and
                                                user.role.name() == 'ADMIN'}">Dodaj książkę</a>
    <a href="/login" class="button" th:if="${!isLogged}">Login</a>
    <a href="/logout" class="button" th:if="${isLogged}">Wyloguj</a>
</div>
<div id="books" th:fragment="books">
    <div class="books">
        <h3>książki</h3>
        <table>
            <thead>
            <tr>
                <td>Title</td><td>Author</td><td>ISBM</td><td th:if="${isLogged}">Rent</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}" class="book">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbm}"></td>
                <td th:if="${isLogged}"><a  th:if="${book.available}" th:href="@{/rent/{bookId}(bookId=${book.id})}" class="button">Rezerwuj</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>